<div class="modal_header">
  <button type="button" class="close" data-dismiss="modal">×</button>
	Sign Up
</div>
<div class="modal_body">
<% if flash[:alert] || flash[:notice] %>
	<p class="alert alert-info"><%= flash[:alert] || flash[:notice] %></p>
<% end %>
<%= form_for(@user) do |f| %>
	<div class="form-general-info well">
		<div class="field">
			<%= f.label :email %>
			<%= f.text_field :email %>
		</div>
		<div class="field">
			<%= f.label :password %>
			<%= f.password_field :password %>
		</div>
		<div class="action">
			<%= f.submit "Sign Up", :class => "btn btn-large btn-primary", :id => "submit", :remote => true %>
		</div>
		<div class="field">
			<br />
			<p>or</p>
			<%= link_to image_tag("fbconnect.png", alt: "Sign in with Facebook", :id => "fblogin"),
								 																			'/auth/facebook',	id: 'sign_in' %>
		</div>
	</div>
<% end %>
</div>
<div class="modal_footer">
	<%= link_to "Cancel", '#', :class => "btn btn-large", :"data-dismiss" => "modal" if request.xhr? %>
</div>

<%= image_tag "ajax-loader.gif", :id => "ajax-loader" %>